/*
* body定義
*/
body {
    background-color: #bed6df;
    overflow: hidden;
    color: #5b5b5b;
}

.basefontcolor{
	color: #5b5b5b;
}
errorbody {
    background-color: red;
}
#wrapper {
    width:100%;
    padding:0px;
    background-color: #FFFFFF;
}

.img{
	width: 100%;
    margin: 0px;
    background-color: #bed6df;
}

/*
* ヘッダー、フッター共通定義
*/
#header,#gymBody,#footer {
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: #bed6df;

}

/*
* ヘッダー定義
*/
#header {
    top: 2px;
    height: 40px;
    width:100%;
}
#headLeft {
    width:200px;
    text-align:left;
}
#headCenter {
	font-weight:bold;
    font-size: 32px;
    color: #5b5b5b;
    width:800px;
    text-align:center;
	text-indent: 120px;
}
#headRight {
    width:200px;
    text-align:right;
}
/*
* メニュー画面のボタン
*/
.menuBlock {
    margin-left: 100px;
    float: left;
    text-align: "center";
    padding: 17px;
}

/*
* 業務body定義
*/
#gymBody {
    height: 480px;
    overflow: auto;
    background-color: #bed6df;
}

/*
* フッター定義
*/
#footer {
    bottom: 1%;
    height: 90px;
    
}
#footLeft {
    float:left;
    width:400px;
    text-align:left;
}
#footCenter {
    float:left;
    width:400px;
    text-align:center;
}
#footRight {
    float:left;
    width:400px;
    text-align:right;
}
/*
* エラーページ ヘッダー、フッター共通定義
*/
#errorHeader,#errorGymBody,#errorFooter {
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: #FFA4C6;
}

/*
* エラーページ ヘッダー定義
*/
#errorHeader {
    top: 1%;
    height: 6%;
    text-align: center;
    font-size: 24px;
    color: #FFFF00;
}

/*
* エラーページ 業務body定義
*/
#errorGymBody {
    top: 8%;
    height: 80%;
    overflow: auto;
    font-weight: bold;
    color: black;
}

/*
* エラーページ フッター定義
*/
#errorFooter {
    bottom: 1%;
    height: 10%;
}

/*
* ボタンサイズ通常
*/
.smlButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    margin: 5px auto;
    padding: 0.6em 1em;
    border: 1px solid #5b5b5b;
    border-radius: 5px;
    background-color: #BED6DF;
    color: #5B5B5B;
    font-size: 12px;
}
/*
* ボタンサイズ大
*/
.bigButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    margin: 0 auto;
    padding: 0.9em 2em;
    border: 1px solid #5b5b5b;
    border-radius: 5px;
    background-color: #BED6DF;
    color: #5B5B5B;
    font-size: 13px;
}
/*
* ボタンサイズrロング
*/
.lngButton {
   display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:0 auto;
    padding: .9em 2em;
    border: 1px solid #5b5b5b;
    border-radius: 5px;
    background-color:#bed6df;
    color: #5b5b5b;
    font-size: 1em;
}

/*
* 戻るボタンのスタイル
*/
.backBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:0 auto;
    padding: .9em 2em;
    border: 1px solid #5b5b5b;
    border-radius: 5px;
    background-color: #bed6df;
    color: #5b5b5b;
    font-size: 1em;
}
/*
* テーブルのスタイル
*/
.table{
	border-collapse: collapse;
    border:1px solid #333;
}

/*
* テーブルヘッダーのスタイル
*/
.tblHeader {
    background-color: #7EA3C7;
    font-weight: bold;
}

/*
* テーブルボディのスタイル
*/
.tblBody {
    background-color: #E0FFFF;
}
/*
* 文字色 黒
*/
.fontBlack {
    color: #5b5b5b;
}

/*
* 文字色 青
*/
.fontBlue {
    color: blue;
}

/*
* 文字色 赤
*/
.fontRed {
    color: red;
}